<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sample3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E143C13D1D30E1CB00CAC993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E143C1511D30E1CB00CAC993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E143C15C1D30E1CB00CAC993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
